<!--The content below is only a placeholder and can be replaced.-->

<h1> Teste </h1>
<div>
  Ordinal 1:
  {{ o1 }} <!-- o1 chama toString() -->
</div>
<div>
  Ordinal 2:
  {{ o2 }} <!-- o2 nao chama toString() -->
</div>
<div>
  Ordinal 3:
  {{ o3 }} <!-- o3 chama toString() -->
</div>
<div>
  Contêiner 1:
  {{ c1.dados.score }} <!-- valor literal escrito normalmente -->
</div>
<div>
  Contêiner 2:
  {{ c2.dados.score }} <!-- toString() de Object -->
</div>
<div>
  Contêiner 3:
  {{ c3.dados.score }} <!-- toString() sobrescrito em Ordinal -->
</div>

